<div class="center row">
  <div class="section-container tabs" data-section="tabs">
    <section>
      <p class="title" data-section-title><a href="#">Sign Up</a></p>
      <div class="content" data-section-content>
        <p>
        <div class="row">
          <div class="large-12 columns">
            <div class="signup-panel">
              <p class="welcome">Hello, new user!</p>

              <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"><div style="display:none">
              </div>
                <div class="row collapse">
                  <div class="small-2  columns">
                    <span class="prefix"><i class="fi-torso"></i></span>
                  </div>
                  <div class="small-10  columns">
                    <input id="user_full_name" name="user[full_name]" placeholder="Full Name" type="text" />
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-2 columns">
                    <span class="prefix"><i class="fi-mail"></i></span>
                  </div>
                  <div class="small-10  columns">
                    <input id="user_email" name="user[email]" placeholder="Email" type="email" />
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-2 columns ">
                    <span class="prefix"><i class="fi-lock"></i></span>
                  </div>
                  <div class="small-10 columns ">
                    <input id="user_password" name="user[password]" placeholder="Password" type="password" />
                  </div>
                </div>
                <button name="button" type="submit">Sign Up</button>
</form>            

</div>
          </div>
        </div></p>
      </div>
    </section>
  </div>
  <div>
</div>
</div>

